<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="path_base" value="artisan-logger/" />
	<property name="pattern"
		value="%date{ISO8601} %level %class{30} %thread %msg %mdc %ex{full} %n" />
	<!-- Simple File Appender -->
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${path_base}artisan-logger.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${path_base}/archive/%d{yyyy-MM,aux}/neura-logger.%d.%i.gz
			</fileNamePattern>
			<maxHistory>90</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%date{ISO8601} %level %class{30} %thread %msg %mdc %ex{full}
				%n</pattern>
		</encoder>
	</appender>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%level]
				[%thread][%logger:%line] %msg%n</pattern>
		</encoder>
	</appender>
	<root level="DEBUG">
		<appender-ref ref="file" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>